.site-header-container.has-cover::after {
  content: "";
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

h1,h2,h3,h4,h5,
div,p { font-family: "Google Sans Flex";}

h2.subtitle,
blockquote p,
p.subtitle {
  font-family: "Source Serif 4";
  font-style: italic;
  font-weight: normal;
} 

blockquote p {
  color: #444;
  font-size: 1.1em;
}

blockquote {
  border-left: 5px solid #161618;
}

.page-content img {
  width: 98%;
}

.site-footer {
  background-color: #161618;
}

a {
  color: #161618;
}

a:hover {
  color: #132E65 ;
}

.navigation-wrapper a.logo img {   border-radius: 50%; }

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin: 3rem 0;
}

.pagination-link {
  color: inherit;
  font-size: 1.4rem;
  text-decoration: none;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-status {
  font-size: 1.1em;
  color: #666;
}

.navigation {
  box-shadow: 0 2px #c0c0c0;
}


