---
layout: default
---
<head>
{% seo %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@1,400&display=swap" rel="stylesheet">
<style>
.post {font-family: "Google Sans Flex", arial;}
h2, p.data { font-family: "Source Serif 4"; font-style: italic}
</style>
</head>

<article class="post">
<h1>{{ page.title }}</h1>
<h2>{{ page.description }}</h2>
<p class="data">{{ page.date | date: "%d/%m/%Y" }}</p>
<div>{{ content }}</div>
</article>
